html, body{
    height: 100%;
    margin: 0;
    padding: 0;

}


body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    

}



.box1{
    position: relative;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    background-color: #000000;
    
    
}


@keyframes streganimation {
    0% {
        clip-path: inset(0 100% 100% 0);
        border-color:rgb(255, 255, 255);
    }
    25% {
        clip-path: inset(0 0 100% 0);
        border-color: #6D3AEA
    }
    50%{
        clip-path: inset(0 0 0 0);
        border-color: rgb(253, 253, 253);
    }
    75%{
        clip-path: inset(100% 0 0 0);
        border-color: #6D3AEA
    }
    100%{
        clip-path: inset(0 100% 100% 0);
        border-color: rgb(255, 255, 255);
    }
}

@keyframes streganimation {
    0% {
        clip-path: inset(0 100% 100% 0);
        border-color:rgb(255, 255, 255);
    }
    25% {
        clip-path: inset(0 100% 100% 0);
        border-color: #6D3AEA
    }
    50%{
        clip-path: inset(0 0 0 0);
        border-color: rgb(253, 253, 253);
    }
    75%{
        clip-path: inset(100% 0 0 0);
        border-color: #6D3AEA
    }
    100%{
        clip-path: inset(0 100% 100% 0);
        border-color: rgb(255, 255, 255);
    }
}


@media (min-width: 769px){




.streg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 10px solid rgb(11, 11, 11);
    box-sizing: border-box;
    animation: streganimation 8s linear infinite; 
    pointer-events: none;
   

}



.top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  
    
  
}

.logo{
    width: 150px;
    margin-top: 0px;
   

}



.menu1{
   display: flex; 
   justify-content: flex-end;
   gap: 90px;
   margin-top: 40px;
   margin-right: 50px;

   
}


.menu1 a{
    color: rgb(255, 254, 254);
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    
}



h1{
    flex: 1;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;font-weight: 900;
    color: white;
    line-height: 1.3;
    margin-top: 30px;
    margin-left: 5px;

 
    
}

.baggrundsbillede{
    width: 100%;
    height: 450px;
    object-fit: cover ;
    object-position: center;
    display: block;

}


.introsektion{
    display: flex;
    flex-direction: row;
    align-items: center;
    


}

.intro-beholder{
  position: relative;
}

.introtekst{
    width: 545px;
    margin-left: 10%;
    margin-top: 10px;

    
}


.introknap{
    position: absolute;
    width: 70px;
    margin-left: 80%;
    margin-top: -95px;
    
   
}


.introbillede{
    width: 270px;
    border: 10px solid rgb(11, 11, 11);
    animation: streganimation 8s linear infinite; 
    margin-left: 25%;
    margin-top: 20px;
  
    

}


   







.projekter-overskrift h2{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif; font-weight: 900;
    color: #EFD5F2;
    margin-top: 10px;
}


.projekter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 30px;
    width: 100%;
   
}


.projekt-box{
    width: 300px;
    height: 335px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #000000;
    border: 2px solid #ffffff;



    

}


.tekst-box1{
    color: #ffffff;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
  
   
}

.tekst-box1 h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.tekst-box1 p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.projekt-box2 img{
    width: 325px;
    margin-left: -5px;
   
   
}

.tekst-box2{
    color: #ffffff;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tekst-box2 h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.tekst-box2 p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.projekt-box3 video{
   margin-top: -10px;
   width: 100%;
 
}

.tekst-box3{
    color: #ffffff;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tekst-box3 h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.tekst-box3 p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.projekt-box4 img{
    width: 309px;
    height: 320px;
    margin-left: -5px;
    margin-top: 7px;
}


.tekst-box4{
    color: #ffffff;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tekst-box4 h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.tekst-box4 p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.projekt-box5 img{
    width: 352px;
    margin-left: 33px;
    margin-top: -16px;
    height: 367px;
}

.tekst-box5{
    color: #ffffff;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tekst-box5 h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.tekst-box5 p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.swipe-funktion{
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: mandatory;
    width: 100%;
    height: 100%;
    background-color: #000000;
  

}

.swipe-funktion img{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    scroll-snap-align: center;
}


.tekst-box6{
    color: #ffffff;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.tekst-box6 h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.tekst-box6 p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}




.ommig-overskrift h2{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif; font-weight: 900;
    color: #EFD5F2;
    margin-top: 10px;
   
}


.ommig-indhold{
   display: flex;
   flex-direction: row;
   align-items: flex-start;
  
}

.ommig-tekst{
    flex: 1;
    line-height: 1.0cm;
    margin-top: -25px;
    margin-left: 10px;
   

}


.intro h3{
    font-size: 15px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.intro p{
    font-size: 14px;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 490px;
    border: 2px solid #9A74F6;
    margin-top: -10px;
}

.arbejdstilgang h3{
    font-size: 16px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.arbejdstilgang p{
    font-size: 14px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 495px;
    border: 2px solid #9A74F6;
    margin-top: -10px;
}

.fritid h3{
    font-size: 16px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.fritid p{
    font-size: 14px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 495px;
    border: 2px solid #9A74F6;
    margin-top: -10px;
   
}



.kompetencer-sektion{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
}


.kompetencer h3{
    font-size: 16px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    margin-top: -40px;
    margin-left: 10px;
    
   
}


.kompetencer ul{
    font-size: 14px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 150px;
    line-height: 0.7cm;
   
    
    
}


.ommig-billeder{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.billede-r{
 width: 330px;
 height: auto;
 border-radius: 20px;
 margin-right: 40px;
 margin-top: -30px;
 border: 8px solid #9A74F6;

   
}

.programskalaen{
    margin-left: 50px;
}


.programmer h3{
    font-size: 16px;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    margin-top: -40px;
}


.programmer img{
    width: 30px;
    gap: 5px;
    position: relative;


}


.kontakt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
  
  

    
}

.kontakt-overskrift h1{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif; font-weight: 900;
    color: #EFD5F2;
    margin-top: 10px;
   
}
.kontaktbillede{
    width: 100%;
    max-width: 302px;
    height: auto;
    border-radius: 15px;
    margin-top: -20px;
 
    
}

.kontaktformular{
    width: 550px;
    height: 450px;
    background-image: url(billeder/kontaktformular.svg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: -20px;
    
}


.formular-felter{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 180px;
    gap: 8px;
    margin-left: 54%;
    position: absolute;
    margin-top: 50px;
   

}

.formular-felter label{
    font-size: 12px;
    font-weight: 400;
    color: #464545;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


.formular-felter input{
    height: 25px;
    border-radius: 10px;
    border: 2px solid #000000;
    background-color: #EFD5F2;
  
}


.formular-felter textarea{
    height: 100px;
    border-radius: 10px;
    border: 2px solid #000000;
    background-color: #EFD5F2;
}

.formular-felter button{
    width: 100px;
    height: 25px;
    background-color: #000000;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: 600;
    font-size: 14px;
    margin-left: 90px;
    cursor: pointer;
    
    transition: 0.2s ease;
}

button:hover{
    background-color: #333333 ;
    
}

button:active{
    transform: scale(0.95);
    background-color: #1a1a1a;
}







.footer{
    background-color: #0e0e0e;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    margin: 0;
    padding: 2px;
    margin-top: 160px;
   
    

}

.footer-indhold{
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    gap: 20px;
   

}

.footer-logo{
    width: 120px;
    margin-top: 50px;
}

.kontaktinfo-footer{
   flex: 1;
   font-size: 12px;
   margin-left: 14%;
   margin-top: 20px;
   color: #939393;
}

.kontaktinfo-footer p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.kontaktinfo-footer h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
.footer-copy p{
    font-size: 12px;
    text-align: center;
    color: #616161;
  

}

.socialemedier-footer{
    flex: 1;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 16px;
    color: #939393;
  
   

}

.insta-fb{
    display: flex;
    flex-direction: row;
    margin-top: -5px;
    margin-left: 15px;
    gap: 4px;

}

.insta-logo{
    width: 25px;
  
}
.fb-logo{
    width: 38px;
    margin-top: -7px;
    
}
}

@media (max-width: 768px){



.streg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid rgb(11, 11, 11);
    box-sizing: border-box;
    animation: streganimation 8s linear infinite; 
    pointer-events: none;
    

}



.top{
    display: flex;
    justify-content: column;
    align-items: left;
    gap: 12px;
    
  
}

.logo{
    width: 110px;
    margin-top: 0px;
    margin-left: -15px;
   

}



.menu1{
   display: flex; 
   justify-content: flex-end;
   gap: 25px;
   margin-top: 20px;
   margin-right: 20px;

   
}


.menu1 a{
    color: rgb(255, 254, 254);
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    
}



h1{
    flex: 1;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;font-weight: 900;
    color: white;
    line-height: 1.3;
    margin-top: 18px;
    margin-left: -30px;
  
  
   

 
    
}

.baggrundsbillede{
    width: 100%;
    height: 200px;
    object-fit: cover ;
    object-position: center;
    display: block;

}


.introsektion{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;


}

.intro-beholder{
    position: relative;
  
}

.introtekst{
    width: 100%;
    max-width: 400px;
    text-align: center;
    
}


.introknap{
    position: absolute;
    width: 65px;
    bottom: 55px;
    left: 65%;
 

  
    
   
}


.introbillede{
    width: 240px;
    border: 10px solid rgb(11, 11, 11);
    animation: streganimation 8s linear infinite; 
    
 
  
    

}


.projekter-overskrift h2{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif; font-weight: 900;
    color: #EFD5F2;
    margin-top: 10px;
}


.projekter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
  
   
}


.projekt-box{
    width: 295px;
    height: 335px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #000000;
    border: 2px solid #ffffff;



    

}


.tekst-box1{
    color: #ffffff;
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
  
   
}

.tekst-box1 h3{
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.tekst-box1 p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.projekt-box2 img{
    width: 325px;
    margin-left: -10px;
 
}

.tekst-box2{
    color: #ffffff;
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.tekst-box2 h3{
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.tekst-box2 p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.projekt-box3 video{
   margin-top: -10px;
   width: 100%;
 
}

.tekst-box3{
    color: #ffffff;
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.tekst-box3 h3{
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.tekst-box3 p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.projekt-box4 img{
    width: 309px;
    height: 320px;
    margin-left: -5px;
    margin-top: 7px;
}


.tekst-box4{
    color: #ffffff;
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tekst-box4 h3{
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.tekst-box4 p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.projekt-box5 img{
    width: 352px;
    margin-left: 30px;
    margin-top: -16px;
    height: 367px;
}

.tekst-box5{
    color: #ffffff;
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.tekst-box5 h3{
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.tekst-box5 p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.swipe-funktion{
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: mandatory;
    width: 100%;
    height: 100%;
    background-color: #000000;
  

}

.swipe-funktion img{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    scroll-snap-align: center;
}


.tekst-box6{
    color: #ffffff;
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.tekst-box6 h3{
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.tekst-box6 p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}





.ommig-overskrift h2{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif; font-weight: 900;
    color: #EFD5F2;
    margin-top: 10px;
   
   
}


.ommig-indhold{
   display: flex;
   flex-direction: row;
   align-items: flex-start;
  
}

.ommig-tekst{
    flex: 1;
    line-height: 0.5cm;
    margin-top: -15px;
    margin-left: 10px;
   

}


.intro h3{
    font-size: 12px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.intro p{
    font-size: 12px;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 200px;
    height: auto;
    border: 2px solid #9A74F6;
    margin-top: -10px;
    text-align: left;
}

.arbejdstilgang h3{
    font-size: 12px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.arbejdstilgang p{
    font-size: 12px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 200px;
    border: 2px solid #9A74F6;
    margin-top: -10px;
    text-align: left;
}

.fritid h3{
    font-size: 12px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.fritid p{
    font-size: 12px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 200px;
    border: 2px solid #9A74F6;
    margin-top: -10px;
    text-align: left;
   
}

.kompetencer h3{
    font-size: 12px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    margin-left: 14px;
  
  
   
}

.kompetencer ul{
    font-size: 10px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 150px;
    line-height: 0.7cm;
   

    
    
}


.ommig-billeder{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 10%;
}

.billede-r{
 width: 90%;
 height: auto;
 border-radius: 20px;
 border: 6px solid #9A74F6;
 margin-top: 12px;

   
}

.kompetencer-sektion{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}
.programskalaen{
   
    width: 90%;
}

.programmer h3{
    font-size: 12px;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

   

.programmer img{
    width: 25px;
    gap: 5px;
    position: relative;
   
  

}



.kontakt{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  

    
}

.kontakt-overskrift h2{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif; font-weight: 900;
    color: #EFD5F2;
    margin-top: 10px;
    margin-left: 20px;
    margin: 0;
   
}
.kontaktbillede{
    max-width: 200px;
    border-radius: 10px;
    margin-top: 10px;
 

    
}

.kontaktformular{
    width: 297px;
    height: 228px;
    background-image: url(billeder/kontaktformular.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 40px;
    margin-top: -20px;
}



.formular-felter{
    position: static;
    justify-content: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 55%;
    margin-top: -10px;
   


}


.formular-felter label{
    font-size: 12px;
    font-weight: 400;
    color: #464545;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}


.formular-felter input{
    width: 90%;
    height: 20px;
    border-radius: 10px;
    border: 2px solid #000000;
    background-color: #EFD5F2;

  
}


.formular-felter textarea{
    width: 90%;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #000000;
    background-color: #EFD5F2;
}

.formular-felter button{
    width: 75px;
    height: 20px;
    background-color: #000000;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: 600;
    font-size: 10px;
    margin-left: 60px;
    cursor: pointer;
    transition: 0.2s ease;
}

button:hover{
    background-color: #333333 ;
    
}

button:active{
    transform: scale(0.95);
    background-color: #1a1a1a;
}




.footer{
    background-color: #0e0e0e;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

   

    

}

.footer-indhold{
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
   

}

.footer-logo{
    width: 80px;
    margin-top: 24px;
    margin-left: -15px;
}

.kontaktinfo-footer{
   flex: 1;
   font-size: 8px;
   margin-top: 5px;
   margin-left: 2px;
   color: #939393;
}

.kontaktinfo-footer p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.kontaktinfo-footer h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}
.footer-copy p{
    font-size: 8px;
    text-align: center;
    color: #616161;
    margin-top: -20px;

}

.socialemedier-footer{
    flex: 1;
    font-size: 11px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 2px;
    margin-right: -40px;
    color: #939393;
  
   

}

.insta-fb{
    display: flex;
    flex-direction: row;
    margin-left: 8px;
    gap: 2px;

}

.insta-logo{
    width: 20px;
  
}
.fb-logo{
    width: 28px;
    margin-top: -4px;
    
}
}