html, body{
    height: 100%;
    margin: 0;
    padding: 0;

}



@keyframes streganimation {
    0% {
        clip-path: inset(0 100% 100% 0);
        border-color:rgb(255, 255, 255);
    }
    25% {
        clip-path: inset(0 100% 100% 0);
        border-color: #6D3AEA
    }
    50%{
        clip-path: inset(0 0 0 0);
        border-color: rgb(253, 253, 253);
    }
    75%{
        clip-path: inset(100% 0 0 0);
        border-color: #6D3AEA
    }
    100%{
        clip-path: inset(0 100% 100% 0);
        border-color: rgb(255, 255, 255);
    }
}


@media (min-width: 769px){

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    

}





.box1{
    position: relative;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    background-color: #000000;
    
    
}

.streg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 10px solid rgb(11, 11, 11);
    box-sizing: border-box;
    animation: streganimation 8s linear infinite; 
    pointer-events: none;
    

}



@keyframes streganimation {
    0% {
        clip-path: inset(0 100% 100% 0);
        border-color:rgb(255, 255, 255);
    }
    25% {
        clip-path: inset(0 0 100% 0);
        border-color: #6D3AEA
    }
    50%{
        clip-path: inset(0 0 0 0);
        border-color: rgb(253, 253, 253);
    }
    75%{
        clip-path: inset(100% 0 0 0);
        border-color: #6D3AEA
    }
    100%{
        clip-path: inset(0 100% 100% 0);
        border-color: rgb(255, 255, 255);
    }
}


.top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  
    
  
}

.logo{
    width: 150px;
    margin-top: 0px;
   

}



.menu1{
   display: flex; 
   justify-content: flex-end;
   gap: 90px;
   margin-top: 40px;
   margin-right: 50px;

   
}


.menu1 a{
    color: rgb(255, 254, 254);
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    
}



h1{
    flex: 1;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;font-weight: 900;
    color: white;
    line-height: 1.3;
    margin-top: 30px;
    margin-left: 5px;

 
    
}

.baggrundsbillede{
    width: 100%;
    height: 500px;
    object-fit: cover ;
    object-position: center;
    display: block;

}


.introsektion{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;


}



.introtekst{
    width: 90%;
    max-width: 550px;
    text-align: center;
    
}


.læsmereknap{
  
    width: 70px;
    margin-top: -40px;
    margin-left: 350px;
   
    
   
}


.introbillede{
    width: 275px;
    border: 10px solid rgb(11, 11, 11);
    animation: streganimation 8s linear infinite; 
  
    

}


   







.projekter-overskrift h2{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif; font-weight: 900;
    color: #EFD5F2;
    margin-top: 10px;
}


.projekter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 30px;
   
}


.projekt-box{
    width: 300px;
    height: 335px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #000000;
    border: 2px solid #ffffff;



    

}


.tekst-box1{
    color: #ffffff;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
   
}



.projekt-box2 img{
    width: 325px;
    margin-top: -26px;
    margin-left: -5px;
}

.tekst-box2{
    color: #ffffff;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.projekt-box3 video{
   margin-top: -10px;
   width: 100%;
 
}

.tekst-box3{
    color: #ffffff;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.projekt-box4 img{
    width: 309px;
    height: 320px;
    margin-left: -5px;
    margin-top: 7px;
}


.tekst-box4{
    color: #ffffff;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.projekt-box5 img{
    width: 352px;
    margin-left: 33px;
    margin-top: -16px;
    height: 367px;
}

.tekst-box5{
    color: #ffffff;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.swipe-funktion{
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: mandatory;
    width: 100%;
    height: 100%;
    background-color: #000000;
  

}

.swipe-funktion img{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    scroll-snap-align: center;
}


.tekst-box6{
    color: #ffffff;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}








.ommig-overskrift h2{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif; font-weight: 900;
    color: #EFD5F2;
    margin-top: 10px;
   
}


.ommig-indhold{
   display: flex;
   flex-direction: row;
   align-items: flex-start;
  
}

.ommig-tekst{
    flex: 1;
    line-height: 1.0cm;
    margin-top: -25px;
    margin-left: 10px;
   

}


.intro h3{
    font-size: 15px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.intro p{
    font-size: 14px;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 490px;
    border: 2px solid #9A74F6;
    margin-top: -10px;
}

.arbejdstilgang h3{
    font-size: 16px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.arbejdstilgang p{
    font-size: 14px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 495px;
    border: 2px solid #9A74F6;
    margin-top: -10px;
}

.fritid h3{
    font-size: 16px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.fritid p{
    font-size: 14px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 495px;
    border: 2px solid #9A74F6;
    margin-top: -10px;
   
}

.kompetencer h3{
    font-size: 16px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    
  
  
   
}

.kompetencer ul{
    font-size: 14px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 150px;
    line-height: 0.7cm;
    margin-left: -25px;
    
    
}


.ommig-billeder{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.billede-r{
 width: 330px;
 height: auto;
 border-radius: 20px;
 margin-right: 40px;
 margin-top: -30px;
 border: 8px solid #9A74F6;

   
}

.programskalaen{
    margin-left: 50px;
}

.programmer h3{
    font-size: 16px;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 250px;
    margin-top: -270px;
    font-style: italic;
}


.logo-indhold{
    display: flex;
    flex-direction: row;
  
    
   
   
}
.programmer img{
    width: 30px;
    gap: 5px;
    position: relative;
    left: 250px;
    top: 10px;

}



.kontakt{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 5px;
    align-items: center;
  

    
}

.kontakt-overskrift h1{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif; font-weight: 900;
    color: #EFD5F2;
    margin-top: 10px;
   
}
.kontaktbillede{
    width: 298px;
    height: auto;
    border-radius: 10px;
 

    
}


.formular-felter{
    position: absolute;
    top: 275px;
    width: 180px;
    justify-content: left;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.formular-felter label{
    font-size: 12px;
    font-weight: 400;
    color: #464545;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.formular-felter input{
    width: 100%;
    height: 25px;
    border-radius: 10px;
    border: 2px solid #000000;
    background-color: #EFD5F2;
  
}


.formular-felter textarea{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    border: 2px solid #000000;
    background-color: #EFD5F2;
}

.formular-felter button{
    width: 100px;
    height: 25px;
    background-color: #000000;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: 600;
    font-size: 14px;
    margin-left: 90px;
    cursor: pointer;
    
    transition: 0.2s ease;
}

button:hover{
    background-color: #333333 ;
    
}

button:active{
    transform: scale(0.95);
    background-color: #1a1a1a;
}


.kontaktformular{
    width: 545px;

    
}



.socialemedier{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    font-size: 14px;
  
}


 .socialemedier{
    margin-top: -90px;
    margin-left: -244px;

    }


.insta-logo{
    width: 22px;
    margin-left: -25px;
    margin-top: -35px;
}

.fb-logo{
    width: 32px;
    margin-left: -29px;
    margin-top: -38px;
}



.footer{
    background-color: #0e0e0e;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    margin: 0;
    padding: 0;
    margin-top: 160px;
   
    

}

.footer-indhold{
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    gap: 20px;
   

}

.footer-logo{
    width: 120px;
    margin-top: 50px;
}

.kontaktinfo-footer{
   flex: 1;
   font-size: 12px;
   margin-left: 14%;
   margin-top: 20px;
   color: #4a4a4a;
}

.kontaktinfo-footer p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.kontaktinfo-footer h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
.footer-copy p{
    font-size: 12px;
    text-align: center;
    color: #464545;

}

.socialemedier-footer{
    flex: 1;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    color: #4a4a4a;
  
   

}

.insta-fb{
    display: flex;
    flex-direction: row;
    margin-left: 16px;
    gap: 2px;

}

.insta-logo{
    margin-left: 5px;
    margin-top: 2px;
}
.fb-logo{
    width: 33px;
    margin-left: 5px;
    margin-top: -4px;
    
}
}

@media (max-width: 768px){


body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    

}





.box1{
    position: relative;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    background-color: #000000;
    
    
}

.streg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid rgb(11, 11, 11);
    box-sizing: border-box;
    animation: streganimation 8s linear infinite; 
    pointer-events: none;
    

}



@keyframes streganimation {
    0% {
        clip-path: inset(0 100% 100% 0);
        border-color:rgb(255, 255, 255);
    }
    25% {
        clip-path: inset(0 0 100% 0);
        border-color: #6D3AEA
    }
    50%{
        clip-path: inset(0 0 0 0);
        border-color: rgb(253, 253, 253);
    }
    75%{
        clip-path: inset(100% 0 0 0);
        border-color: #6D3AEA
    }
    100%{
        clip-path: inset(0 100% 100% 0);
        border-color: rgb(255, 255, 255);
    }
}


.top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  
    
  
}

.logo{
    width: 110px;
    margin-top: 0px;
    margin-left: -12px;
   

}



.menu1{
   display: flex; 
   justify-content: flex-end;
   gap: 25px;
   margin-top: 20px;
   margin-right: 20px;

   
}


.menu1 a{
    color: rgb(255, 254, 254);
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    
}



h1{
    flex: 1;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;font-weight: 900;
    color: white;
    line-height: 1.3;
    margin-top: 18px;
    margin-left: -20px;
  
  
   

 
    
}

.baggrundsbillede{
    width: 100%;
    height: 200px;
    object-fit: cover ;
    object-position: center;
    display: block;

}


.introsektion{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;


}

.intro-beholder{
    position: relative;
  
}

.introtekst{
    width: 100%;
    max-width: 450px;
    text-align: center;
    
}


.læsmereknap{
    position: absolute;
    width: 65px;
    bottom: 55px;
    left: 60%;
 

  
    
   
}


.introbillede{
    width: 275px;
    border: 10px solid rgb(11, 11, 11);
    animation: streganimation 8s linear infinite; 
    
  
    

}


.projekter-overskrift h2{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif; font-weight: 900;
    color: #EFD5F2;
    margin-top: 10px;
}


.projekter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 30px;
   
}


.projekt-box{
    width: 300px;
    height: 335px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #000000;
    border: 2px solid #ffffff;



    

}


.tekst-box1{
    color: #ffffff;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
   
}



.projekt-box2 img{
    width: 325px;
    margin-top: -26px;
    margin-left: -5px;
}

.tekst-box2{
    color: #ffffff;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.projekt-box3 video{
   margin-top: -10px;
   width: 100%;
 
}

.tekst-box3{
    color: #ffffff;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.projekt-box4 img{
    width: 309px;
    height: 320px;
    margin-left: -5px;
    margin-top: 7px;
}


.tekst-box4{
    color: #ffffff;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.projekt-box5 img{
    width: 352px;
    margin-left: 33px;
    margin-top: -16px;
    height: 367px;
}

.tekst-box5{
    color: #ffffff;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.swipe-funktion{
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: mandatory;
    width: 100%;
    height: 100%;
    background-color: #000000;
  

}

.swipe-funktion img{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    scroll-snap-align: center;
}


.tekst-box6{
    color: #ffffff;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}








.ommig-overskrift h2{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif; font-weight: 900;
    color: #EFD5F2;
    margin-top: 10px;
   
}


.ommig-indhold{
   display: flex;
   flex-direction: row;
   align-items: flex-start;
  
}

.ommig-tekst{
    flex: 1;
    line-height: 1.0cm;
    margin-top: -25px;
    margin-left: 10px;
   

}


.intro h3{
    font-size: 15px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.intro p{
    font-size: 14px;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 490px;
    border: 2px solid #9A74F6;
    margin-top: -10px;
}

.arbejdstilgang h3{
    font-size: 16px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.arbejdstilgang p{
    font-size: 14px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 495px;
    border: 2px solid #9A74F6;
    margin-top: -10px;
}

.fritid h3{
    font-size: 16px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.fritid p{
    font-size: 14px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 495px;
    border: 2px solid #9A74F6;
    margin-top: -10px;
   
}

.kompetencer h3{
    font-size: 16px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    
  
  
   
}

.kompetencer ul{
    font-size: 14px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 150px;
    line-height: 0.7cm;
    margin-left: -25px;
    
    
}


.ommig-billeder{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.billede-r{
 width: 330px;
 height: auto;
 border-radius: 20px;
 margin-right: 40px;
 margin-top: -30px;
 border: 8px solid #9A74F6;

   
}

.programskalaen{
    margin-left: 50px;
}

.programmer h3{
    font-size: 16px;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 250px;
    margin-top: -270px;
    font-style: italic;
}


.logo-indhold{
    display: flex;
    flex-direction: row;
  
    
   
   
}
.programmer img{
    width: 30px;
    gap: 5px;
    position: relative;
    left: 250px;
    top: 10px;

}



.kontakt{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 5px;
    align-items: center;
  

    
}

.kontakt-overskrift h1{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif; font-weight: 900;
    color: #EFD5F2;
    margin-top: 10px;
   
}
.kontaktbillede{
    width: 298px;
    height: auto;
    border-radius: 10px;
 

    
}


.formular-felter{
    position: absolute;
    top: 275px;
    width: 180px;
    justify-content: left;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.formular-felter label{
    font-size: 12px;
    font-weight: 400;
    color: #464545;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.formular-felter input{
    width: 100%;
    height: 25px;
    border-radius: 10px;
    border: 2px solid #000000;
    background-color: #EFD5F2;
  
}


.formular-felter textarea{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    border: 2px solid #000000;
    background-color: #EFD5F2;
}

.formular-felter button{
    width: 100px;
    height: 25px;
    background-color: #000000;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: 600;
    font-size: 14px;
    margin-left: 90px;
    cursor: pointer;
    
    transition: 0.2s ease;
}

button:hover{
    background-color: #333333 ;
    
}

button:active{
    transform: scale(0.95);
    background-color: #1a1a1a;
}


.kontaktformular{
    width: 545px;

    
}



.socialemedier{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    font-size: 14px;
  
}


 .socialemedier{
    margin-top: -90px;
    margin-left: -244px;

    }


.insta-logo{
    width: 22px;
    margin-left: -25px;
    margin-top: -35px;
}

.fb-logo{
    width: 32px;
    margin-left: -29px;
    margin-top: -38px;
}



.footer{
    background-color: #0e0e0e;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    margin: 0;
    padding: 0;
  
   
    

}

.footer-indhold{
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
   

}

.footer-logo{
    width: 110px;
    margin-top: 50px;
    margin-left: -20px;
}

.kontaktinfo-footer{
   flex: 1;
   font-size: 10px;
   margin-top: 30px;
   margin-left: -15px;
   color: #4a4a4a;
}

.kontaktinfo-footer p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.kontaktinfo-footer h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}
.footer-copy p{
    font-size: 12px;
    text-align: center;
    color: #9b9a9a;

}

.socialemedier-footer{
    flex: 1;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30px;
    margin-right: -40px;
    color: #4a4a4a;
  
   

}

.insta-fb{
    display: flex;
    flex-direction: row;
    margin-left: 8px;
    gap: 2px;

}

.insta-logo{
    margin-left: 5px;
    margin-top: 2px;
}
.fb-logo{
    width: 33px;
    margin-left: 5px;
    margin-top: -4px;
    
}
}